@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #09101d;

  --primary-50: #eff8ff;
  --primary-100: #d1e9ff;
  --primary-200: #b2ddff;
  --primary-300: #84caff;
  --primary-400: #53b1fd;
  --primary-500: #2e90fa;
  --primary-600: #1570ef;
  --primary-700: #175cd3;
  --primary-800: #1849a9;
  --primary-900: #194185;

  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1d2939;
  --gray-900: #101828;

  --red-50: #fef3f2;
  --red-100: #fee4e2;
  --red-200: #fecdca;
  --red-300: #fda29b;
  --red-400: #f97066;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --red-800: #912018;
  --red-900: #7a271a;

  --yellow-50: #fffaeb;
  --yellow-100: #fef0c7;
  --yellow-200: #fedf89;
  --yellow-300: #fec84b;
  --yellow-400: #fdb022;
  --yellow-500: #f79009;
  --yellow-600: #dc6803;
  --yellow-700: #b54708;
  --yellow-800: #93370d;
  --yellow-900: #7a2e0e;

  --green-50: #ecfdf3;
  --green-100: #d1fadf;
  --green-200: #a6f4c5;
  --green-300: #6ce9a6;
  --green-400: #32d583;
  --green-500: #12b76a;
  --green-600: #039855;
  --green-700: #027a48;
  --green-800: #05603a;
  --green-900: #054f31;

  --ratio: 1.15;

  --lh-tight: 1.25;
  --lh-base: 1.4;

  --fs-display-2xl: calc(4.5rem / var(--ratio));
  --fs-display-xl: calc(3.75rem / var(--ratio));
  --fs-display-lg: calc(3rem / var(--ratio));
  --fs-display-md: calc(2.25rem / var(--ratio));
  --fs-display-sm: calc(1.875rem / var(--ratio));
  --fs-display-xs: calc(1.5rem / var(--ratio));
  --fs-text-xl: calc(1.25rem / var(--ratio));
  --fs-text-lg: calc(1.125rem / var(--ratio));
  --fs-text-md: calc(1rem / var(--ratio));
  --fs-text-sm: calc(0.875rem / var(--ratio));
  --fs-text-xs: calc(0.75rem / var(--ratio));

  --ff-source-sans-pro: 'Source Sans Pro', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  --z-negative: -1;
  --z-elevate: 1;
  --z-sticky: 100;
  --z-drawer: 200;
  --z-dropdown: 400;
  --z-modal: 500;
  --z-popover: 500;
  --z-maximum: 9999;
}

* {
  word-break: break-word;
}

body {
  min-width: 100vw;
  overflow-x: hidden;
  color: var(--gray-700);
  font-family: var(--ff-source-sans-pro);
  font-weight: var(--fw-regular);
  font-size: var(--fs-text-md);
  line-height: var(--lh-base);
}

[style*='--aspect-ratio'] > :first-child {
  width: 100%;
}

[style*='--aspect-ratio'] > img {
  height: auto;
  object-fit: cover;
}

@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    overflow: hidden;
  }

  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

@media screen and (min-width: 968px) {
  :root {
    --ratio: 1;
  }
}
